{% extends './base.html' %}

{% load static %}

{% block css%}{% static './Feeds/feeds.css' %}{% endblock %}

{% block title %} HiQ | Feeds {% endblock %}


{% block header %}
    <h1 >Latest Feeds in HiQ | Feeds </h1>
    <br>

    <div class="nav-bar container">
        <div class="navbar first options">
            <a href="{% url 'home:home' %}" class="btn btn-warning">Home</a>
        </div>
        <div class="navbar options">
            <a href="{% url 'events:events' %}" class="btn btn-warning">Events</a>
        </div>
            <!-- <div class="navbar options"> -->
              <!-- <a href="#">Projects</a> -->
            <!-- </div> -->
        <div class="navbar options">
            <a href="{% url 'developers:contact' %}" class="btn btn-warning">Contact</a>
        </div>

        <div class="navbar options">
            <a href="{% url 'profile:profile' %}" class="btn btn-warning">Profile</a>
        </div>

        <div class="navbar options">
            <a href="{% url 'gallery:view_photo' %}" class="btn btn-warning">Gallery</a>
        </div>

    </div>

{% endblock %}

{% block content %}
<div class="row">

    <div class="col-sm-8 col-md-8 col-lg-8 child1">
        {% for feed in updates %}
            <p>
                <img src="/media/{{feed.uid.profilepic}}" alt="">
                <a href="{% url 'coms:comments' feed.Fid %}">{{feed.feed}}</a>
                <br>
                <span>{{feed.post_time}}</span>
            </p>
        {% endfor %}
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 child2">

    </div>

</div>

{% endblock %}

{% block footer %} {% endblock %}
